<!DOCTYPE html>
<html>
  <head>
    <title>Golang | Revel | Todos</title>
    <link rel="stylesheet" type="text/css" href="/css/todos.css">
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form method="POST" action="{{url "Todos.CreateTodo"}}">
          <input id="new-todo" name="title" placeholder="What needs to be done?" autofocus>
        </form>
      </header>
      {{if .todos}}
        <section id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">Mark all as complete</label>
          <ul id="todo-list">
            {{range .todos}}
              <li class="editing">
                <div>
                  <form method="POST" action="{{url "Todos.UpdateTodo" .Id}}">
                    <input class="toggle" onclick="this.form.elements[2].value={{if .Completed}}false{{else}}true{{end}};this.form.submit();return false;" type="checkbox" {{if .Completed}}checked{{end}}>
                    <input class="edit" name="title" type="text" value="{{.Title}}">
                    <input name="completed" type="hidden" value="{{.Completed}}">
                  </form>
                  <form method="POST" action="{{url "Todos.DeleteTodo" .Id}}">
                    <button class="destroy" type="submit"></button>
                  </form>
                </div>
              </li>
            {{end}}
          </ul>
        </section>
        <footer id="footer">
          <span id="todo-count"><strong>{{.remaining}}</strong> item(s) left</span>
          <!-- Remove this if you don't implement routing -->
          <ul id="filters">
            <li>
            <a class="selected" href="#/">All</a>
            </li>
            <li>
            <a href="#/active">Active</a>
            </li>
            <li>
            <a href="#/completed">Completed</a>
            </li>
          </ul>
          {{if (ne 0 .completed)}}
            <form method="POST" action="{{url "Todos.ClearCompletedTodos"}}">
              <button id="clear-completed" type="submit">Clear completed ({{.completed}})</button>
            </form>
          {{end}}
        </footer>
      </section>
    {{end}}
  </body>
</html>
